body{
    margin: 0;
    padding:0;
    background-color:gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
:root{

    --gray-color:rgb(109, 109, 109); 

}
.main-container{
    display: flex;
    justify-content:center;
    align-items: center;
    height:98vh;
}

.weather-container{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   border: 1px solid black;
   width: 70vw; 
   height:70vh;
   border-radius: 25px ;
   background-color:white;

}
/* Right side contianer */
.rightside-container{
    width:75%;
    height:100%;
    border-radius:25px 0px 0px 25px;


}
.date-container{
    margin:20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-variant: small-caps;

}
.country{
    padding: 8px; 
    margin-right:100px;
}
                        /* Temperature container */
.degree-container{
    margin-top:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.weather-temp-box{
    border:1px solid black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   position:relative;

}
.degree-round{
  position: absolute;
  top:1px;
  right:-50px;
  font-size:70px;
  color:var(--gray-color);

}

.degree-text{
    display: block;
    color: var(--gray-color);
    font-size:150px;
    font-weight:500;
}
.degree-text2{
    display: block;
    border: 1px solid;
    text-align: center;
    color: var(--gray-color);
    font-size:40px;
    font-weight: 200;
}

/* left  side container */
.leftside-container{
    width:40%;
    height: 100%;
    border-radius:0px 25px 25px 0px;
    background-color:lightgray;
    text-align: center;
}